 
body {
font-family: "Montserrat";
}
 
 #title {
  background-color:  #ff4c68;   
 }

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.5;

  color: white;
 }

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
 }

/* NAVBAR  */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight:500 ;
}

.nav-link
{  font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight:400 ;
}

.nav-item {
  padding: 0 20px;
}

/* DOWNLOAD BUTTONS */

.download-button {
  margin: 5% 3% 5% 0;
}

/* HERO-IMAGE */

.title-image {
  width:20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* FEATURE PAGE */

#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
  /* z-index: 1;         If one div is positioned and other is jot then the positioned will be at the top */
}

.feature_no {
  text-align: center;
}

.feature-statements {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 700;
  
} 

.features_p {
  color: #8f8f8f;
}

.features-icon{
  color: #f27b7b;
  padding-bottom: 3.5%;
}

.features-icon:hover {
color: #ff4c68;
}


/* TESTIMONIALS */

#testimonials {
text-align: center;
background-color: #ff4c68;
color: white;
}

.testimonial-img {
  border-radius: 100%;
  margin-right: 3%;
  width: 30%;
  background: white; 
  box-shadow: 0 0 100px white; 
} 

.double-quotes {
  
  font-size: 5rem;
}

.Testimonial-statement {
  font-family: "Montserrat";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 5%;
}

/* PRESS */

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
  text-align: center;
  padding-top: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* CAROUSEL */
.carousel-item {
  padding: 7% 15%;
}

.stating{
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: 500;
  display: block;
}


/* PRICING SECTION */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-card {
  padding: 3% 2%;
}

.card {
  padding-top: 5%;
  padding-bottom: 5%;
}


/* CTA SECTION  */

#cta{
  background-color: #ff4c68;
  padding: 4% 22%;
  text-align: center;
}

.cta-statement{
  font-family: "Montserrat";
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.5;
  color: white;
}

.cta-buttons{
  margin:3% 1% ;
}

/* FOOTER */

#footer {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.social-icons {
  padding: 1%;
}

.footer-statment{
  font-size: 1.5rem;
}



/* MEDIA QUERIES  */

/* Styling below 1384px  */
@media (max-width:1384px){
  h1{
    margin-right: 2%;
  }

  .title-image {
    transform: rotate(0);
    width: 70%;
    position: relative;
    left: 10%;
  }
}

/* Styling below 1093px and above 992px range  */
@media (max-width:1093px) and (min-width:992px) {         
  h1 {
    font-size: 3.5rem;
  }
}


/* Styling below 991px  */
@media (max-width:991px) {
  #title{
    text-align: center;
  }
  .title-image {
    width: 50%;
    left:0;
  }
}
